<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Добро пожаловать в наш ресторан</h1>
<p>Выберите один из вариантов:</p>
<ul>
    <li><a href="/registration"><button>Зарегистрироваться</button></a></li>
    <li><a href="/reservation"><button>Столы</button></a></li>
    <li><a href="/admin"><button>Збронированые столы</button></a></li>
</ul>
</body>
</html>


